
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: wheat;
}
.button{
    padding: 20px;
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor:pointer;
}
.container{
    max-width: 23vw;
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 0;
    width:291px;
    padding: 19px 0;
    bottom: 2px solid black;
    border-radius: 5px;
    font-size: 19px;
}