.text-center{
    text-align: center;
}
.bg-red{
    background-color: black;
}
.mx-auto{
    margin:auto;
}
.flex{

    display: flex;
    
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.size{
    padding: 20px 70px;
}